/* App */

/* NameArea */
.input-name{
  font-size: 2.5rem;
  width: 25rem;
}
.input-name-border-none{
  font-size: 2.5rem;
  width: 15rem;
  border: none;
}
.four-digit{
  width: 3rem;
  margin-right: 1.5rem;
}
.four-digit-border-none{
  width: 3rem;
  margin-right: 1.5rem;
  border: none;
}
.two-digit{
  width: 1.5rem;
  margin-right: 1.5rem;
}
.two-digit-border-none{
  width: 1.5rem;
  margin-right: 1.5rem;
  border: none;
}
.furigana{
  font-size: 1rem;
}
.furigana-border-none{
  font-size: 1rem;
  border: none;
}
.checkbox{
  width: 2rem;
  height: 1.8rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}

/* AddressArea */
.furigana-long{
  font-size: 1rem;
  width: 34rem;
}
.furigana-long-border-none{
  font-size: 1rem;
  width: 34rem;
  border: none;
}
.postal-number{
  font-size: 1rem;
}
.postal-number-border-none{
  font-size: 1rem;
  border: none;
}
.address{
  font-size: 1.3rem;
  resize: none;
}
.address-border-none{
  font-size: 1.3rem;
  resize: none;
  border: none;
  outline: none;
}


/* locate NameArea */
.date-locate{
  position: absolute;
  top: 6.4rem;
  left: 30rem;
}
.furigana-locate{
  position: absolute;
  top: 8.5rem;
  left: 13rem;
}
.name-locate{
  position: absolute;
  top: 12rem;
  left: 12rem;
}
.birth-year-locate{
  position: absolute;
  top: 17.2rem;
  left: 9.5rem;
}
.birth-month-locate{
  position: absolute;
  top: 17.2rem;
  left: 15rem;
}
.birth-date-locate{
  position: absolute;
  top: 17.2rem;
  left: 20rem;
}
.age-locate{
  position: absolute;
  top: 17.2rem;
  left: 30rem;
}
.check-locate-name-area-male{
  position: absolute;
  top: 17rem;
  left: 35.6rem;
}
.check-locate-name-area-female{
  position: absolute;
  top: 17rem;
  left: 40rem;
}

/* locate AddressArea */
.furigana-locate-address-area-first{
  position: absolute;
  top: 20.6rem;
  left: 11rem;
}
.postal-number-locate-first{
  position: absolute;
  top: 22.45em;
  left: 14rem;
}
.address-locate-first{
  position: absolute;
  top: 24.1em;
  left: 9rem;
}

@media print{
  /* 印刷時の設定はここに。入力必須でない欄の枠線を消すなどできます */
  .furigana-long{
    border: none;
  }
  .postal-number{
    border: none;
  }
}