/* general */
ul{
  list-style: none;
}

/* App */

/* NameArea */
.input-name{
  font-size: 2.5rem;
  width: 25rem;
}
.input-name-border-none{
  font-size: 2.5rem;
  width: 15rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}
.four-digit{
  width: 3rem;
  margin-right: 1.5rem;
}
.four-digit-border-none{
  width: 3rem;
  margin-right: 1.5rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}
.two-digit{
  width: 1.5rem;
  margin-right: 1.5rem;
}
.two-digit-border-none{
  width: 1.5rem;
  margin-right: 1.5rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}
.furigana{
  font-size: 1rem;
}
.furigana-border-none{
  font-size: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}
.checkbox{
  width: 2rem;
  height: 1.8rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}

/* AddressArea */
.furigana-long{
  font-size: 1rem;
  width: 34rem;
}
.furigana-long-border-none{
  font-size: 1rem;
  width: 34rem;
  border: none;
}
.postal-number{
  font-size: 1rem;
}
.postal-number-border-none{
  font-size: 1rem;
  border: none;
}
.address{
  font-size: 1.3rem;
  resize: none;
}
.address-border-none{
  font-size: 1.3rem;
  resize: none;
  border: none;
  outline: none;
}
.phone-number{
  font-size: 1rem;
  width: 8rem;
  margin-bottom: 0.5rem;
}
.phone-number-border-none{
  font-size: 1rem;
  width: 8rem;
  margin-bottom: 0.5rem;
  border: none;
}

/* HistoryArea */
/* InputHistory17lines */
.history-17lines-year{
  width: 5.8rem;
  height: 2rem;
  align-items: center;
  text-align: center;
  margin-right: 0.3rem;
  margin-bottom: 0.2rem;
}
.history-17lines-year-border-none{
  font-size: 1.5rem;
  width: 5.6rem;
  height: 2.3rem;
  align-items: center;
  text-align: center;
  margin-right: 0.8rem;
  margin-left: 0.2rem;
  margin-bottom: 0.29rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}
.history-17lines-month{
  width: 2.5rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}
.history-17lines-month-border-none{
  font-size: 1.5rem;
  width: 2.3rem;
  height: 2.3rem;
  text-align: center;
  align-items: center;
  margin-right: 0.9rem;
  margin-left: 0.2rem;
  margin-bottom: 0.29rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}
.history-17lines{
  width: 40.6rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  margin-bottom: 0.2rem;
}
.history-17lines-border-none{
  font-size: 1.5rem;
  width: 40.6rem;
  height: 2.3rem;
  text-align: center;
  align-items: center;
  margin-bottom: 0.29rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}
/* InputHistory5lines */
.history-5lines-year{
  width: 5.8rem;
  height: 2.5rem;
  align-items: center;
  text-align: center;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}
.history-5lines-year-border-none{
  font-size: 1.5rem;
  width: 5.6rem;
  height: 2.8rem;
  align-items: center;
  text-align: center;
  margin-right: 0.8rem;
  margin-left: 0.2rem;
  margin-bottom: 0.4rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}
.history-5lines-month{
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  align-items: center;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
}
.history-5lines-month-border-none{
  font-size: 1.5rem;
  width: 2.3rem;
  height: 2.8rem;
  text-align: center;
  align-items: center;
  margin-right: 0.9rem;
  margin-left: 0.2rem;
  margin-bottom: 0.4rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}
.history-5lines{
  width: 40.6rem;
  height: 2.5rem;
  text-align: center;
  align-items: center;
  margin-bottom: 0.3rem;
}
.history-5lines-border-none{
  font-size: 1.5rem;
  width: 40.6rem;
  height: 2.8rem;
  text-align: center;
  align-items: center;
  margin-bottom: 0.4rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}
/* InputLicense */
.license-year{
  width: 5.8rem;
  height: 1.7rem;
  align-items: center;
  text-align: center;
  margin-right: 0.3rem;
  margin-bottom: 0.2rem;
}
.license-year-border-none{
  font-size: 1.5rem;
  width: 5.6rem;
  height: 2rem;
  align-items: center;
  text-align: center;
  margin-right: 0.8rem;
  margin-left: 0.2rem;
  margin-bottom: 0.29rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}
.license-month{
  width: 2.5rem;
  height: 1.7rem;
  text-align: center;
  align-items: center;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}
.license-month-border-none{
  font-size: 1.5rem;
  width: 2.3rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  margin-right: 0.9rem;
  margin-left: 0.2rem;
  margin-bottom: 0.29rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}
.license{
  width: 40.6rem;
  height: 1.7rem;
  text-align: center;
  align-items: center;
  margin-bottom: 0.2rem;
}
.license-border-none{
  font-size: 1.5rem;
  width: 40.6rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  margin-bottom: 0.29rem;
  border: none;
  background-color: rgba(255, 255, 255, .0);
}

/* locate NameArea */
.date-locate{
  position: absolute;
  top: 6.4rem;
  left: 30rem;
}
.furigana-locate{
  position: absolute;
  top: 8.5rem;
  left: 13rem;
}
.name-locate{
  position: absolute;
  top: 12rem;
  left: 12rem;
}
.birth-year-locate{
  position: absolute;
  top: 17.2rem;
  left: 9.5rem;
}
.birth-month-locate{
  position: absolute;
  top: 17.2rem;
  left: 15rem;
}
.birth-date-locate{
  position: absolute;
  top: 17.2rem;
  left: 20rem;
}
.age-locate{
  position: absolute;
  top: 17.2rem;
  left: 30rem;
}
.check-locate-name-area-male{
  position: absolute;
  top: 17rem;
  left: 35.6rem;
}
.check-locate-name-area-female{
  position: absolute;
  top: 17rem;
  left: 40rem;
}

/* locate AddressArea */
.furigana-locate-address-area-first{
  position: absolute;
  top: 20.6rem;
  left: 11rem;
}
.furigana-locate-address-area-second{
  position: absolute;
  top: 28.2rem;
  left: 11rem;
}
.postal-number-locate-first{
  position: absolute;
  top: 22.5rem;
  left: 14rem;
}
.postal-number-locate-second{
  position: absolute;
  top: 30.3rem;
  left: 14rem;
}
.address-locate-first{
  position: absolute;
  top: 24.1rem;
  left: 9rem;
}
.address-locate-second{
  position: absolute;
  top: 32rem;
  left: 9rem;
}
.phone-number-locate-first{
  position: absolute;
  top: 19.6rem;
  left: 46rem;
}
.phone-number-locate-second{
  position: absolute;
  top: 27.2rem;
  left: 46rem;
}

/* locate HistoryArea */
.history-17lines-locate{
  position: absolute;
  top: 36.9rem;
  left: 2.5rem;
}
.history-5lines-locate{
  position: absolute;
  top: 8.8rem;
  left: 68rem;
}

/* locate LicenseArea */
.license-locate{
  position: absolute;
  top: 27.8rem;
  left: 68rem;
}

@media print{
  /* 印刷時の設定はここに。入力必須でない欄の枠線を消すなどできます */
  .furigana-long{
    border: none;
    background-color: rgba(255, 255, 255, .0);
  }
  .postal-number{
    border: none;
    background-color: rgba(255, 255, 255, .0);
  }
  .address{
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, .0);
  }
  .phone-number{
    border: none;
    background-color: rgba(255, 255, 255, .0);
  }
  .history-17lines{
    border: none;
    background-color: rgba(255, 255, 255, .0);
  }
  .history-17lines-month{
    border: none;
    background-color: rgba(255, 255, 255, .0);
  }
  .history-17lines-year{
    border: none;
    background-color: rgba(255, 255, 255, .0);
  }
  .history-5lines{
    border: none;
    background-color: rgba(255, 255, 255, .0);
  }
  .history-5lines-month{
    border: none;
    background-color: rgba(255, 255, 255, .0);
  }
  .history-5lines-year{
    border: none;
    background-color: rgba(255, 255, 255, .0);
  }
  .license{
    border: none;
    background-color: rgba(255, 255, 255, .0);
  }
  .license-month{
    border: none;
    background-color: rgba(255, 255, 255, .0);
  }
  .license-year{
    border: none;
    background-color: rgba(255, 255, 255, .0);
  }
}